body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #656565;
    text-align: justify;

}
header{
   margin: 50px 150px;

}

.hearer-font{
    font-family: 'PT Serif', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: .7;
    color: black;
    padding-top: 50px;
    
   
}
.header-boder{
    border-left: 3px #ff5959 solid;
    border-radius: 5px;
    padding-left: 10px;
}
.header-left{
    width: 50%;
    float: left;
    
}
.header-right{
    width: 50%;
    float: left;
    margin: 0 auto;
}
img{
    width: 70%;
    padding-left: 130px;
   
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.h1-color{
    color: #ffad5a;
}
.button{
    color: white;
    background-color:#ff5959;
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 5px;
}
.button-padding{
    padding-top: 15px;
    padding-bottom: 25px;
}
.my-mission{
    text-align: center;
    color:  #13103a;
    font-size: 30px;
    font-weight: 700;
    padding: 30px 0;
}
.fo{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #13103a;
}
.span22{
    color: #ffad5a;
}
.section-mission{
    margin: 50px 150px;
    
 
}
.mission{
    background-color:  #edf5f6;
    float: left;
    width: 30%;
    margin: 0 15px;
    border-radius: 20px;
   

}
.vission{
    background-color: #ffeeee;
    float: left;
    width: 30%;
    margin: 0 15px;
    border-radius: 20px;
    
    
}
.goals{
    background-color: #fff4d6;
    float: left;
    width: 30%;
    margin: 0 15px;
    border-radius: 20px;
    
   
}  
.padding{
    padding: 15px 25px;
}
.all-mission h3{
    font-size: 25px;
    color: black;
   
}
.to img{
  padding:0 30px 0 0;
  width: 50%;

  
}
.mission-right{
    float: left;
    width: 50%;
    background-image: url("images/shapes/shape-1.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 20px ;
 
  
}
.mission-left{
    width: 90%;
    padding-right: 20px;
}
   
.font25{
    font-size: 35px;
    color: black;
    font-weight: 700;
}
.imo img{
width: 60%;
padding-right: 12%;
}
.button2{
    background-color: #ff5959;
    text-decoration: none;
    padding: 1;
}
.line{
    line-height: .7;
}
.develop-padding{
    padding: 30px 0;
}
.section{
    display: flex;
}

.section-buttom{
    padding-bottom: 100px;
}
.tome{
    text-align: center;
}
footer{
    background-color: #0b0d17;
    height: 30px;
    color: #edf5f6;
    text-align: center;
    
    padding: 20px ;
    padding-bottom: 30px;
}
.footer-color{
    color:  #c14548;
}
.font-style{
    font-family: 'Playball', cursive;
    font-weight: bolder;
}